<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`BasicOverview` &prefix=`cf_1_13``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`BasicOverview` &prefix=`cl_1_13``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_1_13`?
            &preview=`[[!cbRenderCodeField?
    &valueRendered=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &valueRaw=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &renderTag=`ignore`
]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"BasicOverview"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`BasicOverview`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`1`
            &unique_idx=`13`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`BasicOverview`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`BasicOverview`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`1`
                    &unique_idx=`13`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_13`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`BasicOverview` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`8`
]]

[[$includedPatternsOuter? 
	&unique_idx=`9`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`BasicOverview`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`10`
]]

[[$includedPatternsOuter? 
	&unique_idx=`11`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`BasicOverview`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`3`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`BasicDetail` &prefix=`cf_2_26``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`BasicDetail` &prefix=`cl_2_26``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_2_26`?
            &preview=`[[!cbRenderCodeField?
    &valueRendered=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
        </div>
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="column">
                    <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
                </div>
                <div class="seven wide column">
                    <p class="ui secondary segment" style="line-height: 5em !important;">Sub</p>
                </div>
            </div>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &valueRaw=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
        </div>
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="column">
                    <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
                </div>
                <div class="seven wide column">
                    <p class="ui secondary segment" style="line-height: 5em !important;">Sub</p>
                </div>
            </div>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &renderTag=`ignore`
]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"BasicDetail"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`BasicDetail`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`2`
            &unique_idx=`26`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`BasicDetail`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`BasicDetail`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`2`
                    &unique_idx=`26`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_2_26`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`BasicDetail` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`21`
]]

[[$includedPatternsOuter? 
	&unique_idx=`22`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`BasicDetail`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`23`
]]

[[$includedPatternsOuter? 
	&unique_idx=`24`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`BasicDetail`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`16`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`HeaderVertical` &prefix=`cf_3_39``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`HeaderVertical` &prefix=`cl_3_39``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_3_39`?
            &preview=`[[!cbRenderCodeField?
    &valueRendered=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="seven wide stretched column">
                    <p class="ui secondary segment" style="line-height: 5em !important;">Header</p>
                </div>
                <div class="column">
                    <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
                    <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
                    <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
                </div>
            </div>
        </div>
    </div>
</div>`
    &valueRaw=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="seven wide stretched column">
                    <p class="ui secondary segment" style="line-height: 5em !important;">Header</p>
                </div>
                <div class="column">
                    <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
                    <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
                    <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
                </div>
            </div>
        </div>
    </div>
</div>`
    &renderTag=`ignore`
]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"HeaderVertical"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`HeaderVertical`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`3`
            &unique_idx=`39`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`HeaderVertical`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`HeaderVertical`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`3`
                    &unique_idx=`39`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_3_39`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`HeaderVertical` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`34`
]]

[[$includedPatternsOuter? 
	&unique_idx=`35`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`HeaderVertical`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`36`
]]

[[$includedPatternsOuter? 
	&unique_idx=`37`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`HeaderVertical`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`29`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Home` &prefix=`cf_4_52``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Home` &prefix=`cl_4_52``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_4_52`?
            &preview=`[[!cbRenderCodeField?
    &valueRendered=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &valueRaw=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &renderTag=`ignore`
]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"Home"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`Home`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`4`
            &unique_idx=`52`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Home`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Home`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`4`
                    &unique_idx=`52`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_4_52`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`Home` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`47`
]]

[[$includedPatternsOuter? 
	&unique_idx=`48`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Home`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`49`
]]

[[$includedPatternsOuter? 
	&unique_idx=`50`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Home`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`42`
]]
    </div>
</div>