<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`BasicOverview` &prefix=`cf_1_3282``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`BasicOverview` &prefix=`cl_1_3282``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_1_3282`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"BasicOverview"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`BasicOverview`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`1`
            &unique_idx=`3282`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`BasicOverview`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`BasicOverview`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`1`
                    &unique_idx=`3282`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_3282`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`BasicOverview` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3277`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3278`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`BasicOverview`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3279`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3280`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`BasicOverview`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3272`
    &layout_idx=`0`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`BasicDetail` &prefix=`cf_2_3295``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`BasicDetail` &prefix=`cl_2_3295``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_2_3295`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
        </div>
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="column">
                    <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
                </div>
                <div class="seven wide column">
                    <p class="ui secondary segment" style="line-height: 5em !important;">Sub</p>
                </div>
            </div>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"BasicDetail"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`BasicDetail`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`2`
            &unique_idx=`3295`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`BasicDetail`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`BasicDetail`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`2`
                    &unique_idx=`3295`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_2_3295`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`BasicDetail` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3290`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3291`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`BasicDetail`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3292`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3293`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`BasicDetail`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3285`
    &layout_idx=`1`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`HeaderVertical` &prefix=`cf_3_3308``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`HeaderVertical` &prefix=`cl_3_3308``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_3_3308`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="seven wide stretched column">
                    <p class="ui secondary segment" style="line-height: 5em !important;">Header</p>
                </div>
                <div class="column">
                    <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
                    <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
                    <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
                </div>
            </div>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"HeaderVertical"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`HeaderVertical`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`3`
            &unique_idx=`3308`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`HeaderVertical`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`HeaderVertical`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`3`
                    &unique_idx=`3308`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_3_3308`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`HeaderVertical` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3303`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3304`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`HeaderVertical`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3305`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3306`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`HeaderVertical`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3298`
    &layout_idx=`2`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Home` &prefix=`cf_4_3321``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Home` &prefix=`cl_4_3321``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_4_3321`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"Home"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`Home`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`4`
            &unique_idx=`3321`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Home`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Home`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`4`
                    &unique_idx=`3321`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_4_3321`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`Home` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3316`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3317`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Home`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3318`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3319`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Home`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3311`
    &layout_idx=`3`
]]
    </div>
</div>