<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`GlobalBackgrounds` &prefix=`cf_1_3438``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`GlobalBackgrounds` &prefix=`cl_1_3438``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_1_3438`?
            &preview=`<a class="ui fluid basic labeled icon button" href="[[getContextSetting? &context=`web` &setting=`site_url`]]assets/css/backgrounds.css">
    <i class="file icon"></i>
    assets/css/background.css
</a>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"GlobalBackgrounds"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`GlobalBackgrounds`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`1`
            &unique_idx=`3438`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`GlobalBackgrounds`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`GlobalBackgrounds`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`1`
                    &unique_idx=`3438`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_3438`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`GlobalBackgrounds` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3433`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3434`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`GlobalBackgrounds`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3435`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3436`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`GlobalBackgrounds`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3428`
    &layout_idx=`0`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`GlobalCTA` &prefix=`cf_2_3451``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`GlobalCTA` &prefix=`cl_2_3451``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_2_3451`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">CTA</p>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"GlobalCTA"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`GlobalCTA`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`2`
            &unique_idx=`3451`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`GlobalCTA`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`GlobalCTA`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`2`
                    &unique_idx=`3451`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_2_3451`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`GlobalCTA` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3446`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3447`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`GlobalCTA`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3448`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3449`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`GlobalCTA`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3441`
    &layout_idx=`1`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`fbForm` &prefix=`cf_3_3464``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`fbForm` &prefix=`cl_3_3464``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_3_3464`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">FormIt call</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Errors</p>
        </div>
        <div class="column">
            <div class="ui secondary segment">
                <p>Form</p>
                <div class="ui tertiary segment" style="line-height: 4em !important;">
                    Input fields
                </div>
                <div class="ui tertiary segment" style="line-height: 0 !important;">
                    Submit
                </div>
            </div>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"fbForm"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`fbForm`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`3`
            &unique_idx=`3464`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`fbForm`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`fbForm`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`green`
                    &idx=`3`
                    &unique_idx=`3464`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_3_3464`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`fbForm` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3459`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3460`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`fbForm`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3461`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3462`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`fbForm`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3454`
    &layout_idx=`2`
]]
    </div>
</div>