<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Publications` &prefix=`cf_1_3377``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Publications` &prefix=`cl_1_3377``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_1_3377`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"Publications"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`Publications`
            &pattern_template=`patternLayoutTemplate`
            &idx=`1`
            &unique_idx=`3377`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Publications`
                    &pattern_status=`blue`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Publications`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`blue`
                    &idx=`1`
                    &unique_idx=`3377`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_3377`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`Publications` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`Publications` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>Doesn't contain any specific elements or TVs at this point, but could be used to set global settings for all underlying publications. Things like enable or disable comments by default, publish new posts on Twitter, etc. Similar to the old <a href="https://docs.modx.com/extras/revo/articles/articles.creating-a-blog" target="_blank">Articles container</a>.
</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>Doesn't contain any specific elements or TVs at this point, but could be used to set global settings for all underlying publications. Things like enable or disable comments by default, publish new posts on Twitter, etc. Similar to the old <a href="https://docs.modx.com/extras/revo/articles/articles.creating-a-blog" target="_blank">Articles container</a>.
</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3372`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3373`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Publications`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3374`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3375`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Publications`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3372`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3373`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Publications`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3374`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3375`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Publications`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3367`
    &layout_idx=`0`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`ArticleTraditional` &prefix=`cf_2_3390``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`ArticleTraditional` &prefix=`cl_2_3390``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_2_3390`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">
                Toolbar
            </p>
        </div>
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="column">
                    <div class="ui secondary segment" style="padding: 0.5em">
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Heading
                        </div>
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Meta
                        </div>
                        <div class="ui tertiary segment" style="line-height: 4em !important;">
                            Article
                        </div>
                        <div class="ui tertiary segment" style="line-height: 1em !important;">
                            About
                        </div>
                        <div class="ui tertiary segment" style="line-height: 2em !important;">
                            Comments
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <p class="ui secondary segment" style="line-height: 0 !important;">
                        Share
                    </p>
                    <p class="ui secondary segment" style="line-height: 1 !important;">
                        Tags
                    </p>
                    <p class="ui secondary segment" style="line-height: 3 !important;">
                        Related
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"ArticleTraditional"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`ArticleTraditional`
            &pattern_template=`patternLayoutTemplate`
            &idx=`2`
            &unique_idx=`3390`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`ArticleTraditional`
                    &pattern_status=`yellow`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`ArticleTraditional`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`yellow`
                    &idx=`2`
                    &unique_idx=`3390`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_2_3390`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`ArticleTraditional` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`ArticleTraditional` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3385`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3386`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleTraditional`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3387`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3388`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleTraditional`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3385`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3386`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleTraditional`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3387`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3388`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleTraditional`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3380`
    &layout_idx=`1`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`ArticleReadability` &prefix=`cf_3_3403``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`ArticleReadability` &prefix=`cl_3_3403``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_3_3403`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="width: 75%; margin: auto; padding: 0.5em">
                <div class="ui tertiary segment" style="line-height: 0 !important;">
                    Heading
                </div>
                <div class="ui tertiary segment" style="line-height: 0 !important;">
                    Meta
                </div>
                <div class="ui tertiary segment" style="line-height: 4em !important;">
                    Article
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="width: 75%; margin: auto; line-height: 3em !important;">
                Comments
            </div>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">
                Footer
            </p>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"ArticleReadability"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`ArticleReadability`
            &pattern_template=`patternLayoutTemplate`
            &idx=`3`
            &unique_idx=`3403`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`ArticleReadability`
                    &pattern_status=`purple`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`ArticleReadability`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`purple`
                    &idx=`3`
                    &unique_idx=`3403`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_3_3403`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`ArticleReadability` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`ArticleReadability` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3398`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3399`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleReadability`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3400`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3401`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleReadability`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3398`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3399`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleReadability`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3400`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3401`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleReadability`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3393`
    &layout_idx=`2`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`ArticleSidenotes` &prefix=`cf_4_3416``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`ArticleSidenotes` &prefix=`cl_4_3416``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_4_3416`?
            &preview=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="column">
                    <div class="ui secondary segment" style="padding: 0.5em">
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Heading
                        </div>
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Meta
                        </div>
                        <div class="ui tertiary segment" style="line-height: 5em !important;">
                            Article
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <div class="ui secondary segment" style="margin-top: 3em; line-height: 0 !important;">
                        Note
                    </div>
                    <div class="ui secondary segment" style="margin-top: 2em; line-height: 0 !important;">
                        Note
                    </div>
                    <div class="ui secondary segment" style="line-height: 0 !important;">
                        Note
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="line-height: 3em !important;">
                Comments
            </div>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="line-height: 2em !important;">
                Footer
            </div>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"ArticleSidenotes"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`ArticleSidenotes`
            &pattern_template=`patternLayoutTemplate`
            &idx=`4`
            &unique_idx=`3416`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`ArticleSidenotes`
                    &pattern_status=`pink`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`ArticleSidenotes`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`pink`
                    &idx=`4`
                    &unique_idx=`3416`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_4_3416`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`ArticleSidenotes` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`ArticleSidenotes` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3411`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3412`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleSidenotes`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3413`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3414`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleSidenotes`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3411`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3412`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleSidenotes`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3413`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3414`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleSidenotes`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`3406`
    &layout_idx=`3`
]]
    </div>
</div>