<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Publications` &prefix=`cf_1_3361``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Publications` &prefix=`cl_1_3361``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_1_3361`?
            &preview=`[[!cbRenderCodeField?
    &valueRendered=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &valueRaw=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">Toolbar</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 5em !important;">Content</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &renderTag=`ignore`
]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"Publications"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`five`
            &pattern_name=`Publications`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`1`
            &unique_idx=`3361`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Publications`
                    &pattern_status=`blue`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Publications`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`blue`
                    &idx=`1`
                    &unique_idx=`3361`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_3361`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`Publications` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>Doesn't contain any specific elements or TVs at this point, but could be used to set global settings for all underlying publications. Things like enable or disable comments by default, publish new posts on Twitter, etc. Similar to the old <a href="https://docs.modx.com/extras/revo/articles/articles.creating-a-blog" target="_blank">Articles container</a>.
</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3356`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3357`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Publications`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3358`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3359`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`Publications`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`3351`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`ArticleTraditional` &prefix=`cf_2_3374``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`ArticleTraditional` &prefix=`cl_2_3374``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_2_3374`?
            &preview=`[[!cbRenderCodeField?
    &valueRendered=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">
                Toolbar
            </p>
        </div>
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="column">
                    <div class="ui secondary segment" style="padding: 0.5em">
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Heading
                        </div>
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Meta
                        </div>
                        <div class="ui tertiary segment" style="line-height: 4em !important;">
                            Article
                        </div>
                        <div class="ui tertiary segment" style="line-height: 1em !important;">
                            About
                        </div>
                        <div class="ui tertiary segment" style="line-height: 2em !important;">
                            Comments
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <p class="ui secondary segment" style="line-height: 0 !important;">
                        Share
                    </p>
                    <p class="ui secondary segment" style="line-height: 1 !important;">
                        Tags
                    </p>
                    <p class="ui secondary segment" style="line-height: 3 !important;">
                        Related
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &valueRaw=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 0 !important;">
                Toolbar
            </p>
        </div>
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="column">
                    <div class="ui secondary segment" style="padding: 0.5em">
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Heading
                        </div>
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Meta
                        </div>
                        <div class="ui tertiary segment" style="line-height: 4em !important;">
                            Article
                        </div>
                        <div class="ui tertiary segment" style="line-height: 1em !important;">
                            About
                        </div>
                        <div class="ui tertiary segment" style="line-height: 2em !important;">
                            Comments
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <p class="ui secondary segment" style="line-height: 0 !important;">
                        Share
                    </p>
                    <p class="ui secondary segment" style="line-height: 1 !important;">
                        Tags
                    </p>
                    <p class="ui secondary segment" style="line-height: 3 !important;">
                        Related
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">Footer</p>
        </div>
    </div>
</div>`
    &renderTag=`ignore`
]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"ArticleTraditional"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`ArticleTraditional`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`2`
            &unique_idx=`3374`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`ArticleTraditional`
                    &pattern_status=`yellow`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`ArticleTraditional`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`yellow`
                    &idx=`2`
                    &unique_idx=`3374`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_2_3374`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`ArticleTraditional` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3369`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3370`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleTraditional`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3371`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3372`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleTraditional`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`3364`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`ArticleReadability` &prefix=`cf_3_3387``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`ArticleReadability` &prefix=`cl_3_3387``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_3_3387`?
            &preview=`[[!cbRenderCodeField?
    &valueRendered=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="width: 75%; margin: auto; padding: 0.5em">
                <div class="ui tertiary segment" style="line-height: 0 !important;">
                    Heading
                </div>
                <div class="ui tertiary segment" style="line-height: 0 !important;">
                    Meta
                </div>
                <div class="ui tertiary segment" style="line-height: 4em !important;">
                    Article
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="width: 75%; margin: auto; line-height: 3em !important;">
                Comments
            </div>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">
                Footer
            </p>
        </div>
    </div>
</div>`
    &valueRaw=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="width: 75%; margin: auto; padding: 0.5em">
                <div class="ui tertiary segment" style="line-height: 0 !important;">
                    Heading
                </div>
                <div class="ui tertiary segment" style="line-height: 0 !important;">
                    Meta
                </div>
                <div class="ui tertiary segment" style="line-height: 4em !important;">
                    Article
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="width: 75%; margin: auto; line-height: 3em !important;">
                Comments
            </div>
        </div>
        <div class="column">
            <p class="ui secondary segment" style="line-height: 2em !important;">
                Footer
            </p>
        </div>
    </div>
</div>`
    &renderTag=`ignore`
]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"ArticleReadability"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`ArticleReadability`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`3`
            &unique_idx=`3387`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`ArticleReadability`
                    &pattern_status=`purple`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`ArticleReadability`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`purple`
                    &idx=`3`
                    &unique_idx=`3387`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_3_3387`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`ArticleReadability` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3382`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3383`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleReadability`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3384`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3385`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleReadability`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`3377`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`ArticleSidenotes` &prefix=`cf_4_3400``
        ]]]]
        [[[[If?
            &subject=`patternLayoutTemplate`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`ArticleSidenotes` &prefix=`cl_4_3400``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_4_3400`?
            &preview=`[[!cbRenderCodeField?
    &valueRendered=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="column">
                    <div class="ui secondary segment" style="padding: 0.5em">
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Heading
                        </div>
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Meta
                        </div>
                        <div class="ui tertiary segment" style="line-height: 5em !important;">
                            Article
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <div class="ui secondary segment" style="margin-top: 3em; line-height: 0 !important;">
                        Note
                    </div>
                    <div class="ui secondary segment" style="margin-top: 2em; line-height: 0 !important;">
                        Note
                    </div>
                    <div class="ui secondary segment" style="line-height: 0 !important;">
                        Note
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="line-height: 3em !important;">
                Comments
            </div>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="line-height: 2em !important;">
                Footer
            </div>
        </div>
    </div>
</div>`
    &valueRaw=`<div class="ui segment">
    <div class="ui one column center aligned grid wireframe">
        <div class="column">
            <p class="ui secondary segment">Header</p>
        </div>
        <div class="column">
            <div class="ui two column equal width nested grid">
                <div class="column">
                    <div class="ui secondary segment" style="padding: 0.5em">
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Heading
                        </div>
                        <div class="ui tertiary segment" style="line-height: 0 !important;">
                            Meta
                        </div>
                        <div class="ui tertiary segment" style="line-height: 5em !important;">
                            Article
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <div class="ui secondary segment" style="margin-top: 3em; line-height: 0 !important;">
                        Note
                    </div>
                    <div class="ui secondary segment" style="margin-top: 2em; line-height: 0 !important;">
                        Note
                    </div>
                    <div class="ui secondary segment" style="line-height: 0 !important;">
                        Note
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="line-height: 3em !important;">
                Comments
            </div>
        </div>
        <div class="column">
            <div class="ui secondary segment" style="line-height: 2em !important;">
                Footer
            </div>
        </div>
    </div>
</div>`
    &renderTag=`ignore`
]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_site_templates`
    &tpl=`displayRawTemplate`
    &where=`{"templatename":"ArticleSidenotes"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.code_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`ArticleSidenotes`
            &pattern_template=`patternLayoutTemplate`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`4`
            &unique_idx=`3400`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`ArticleSidenotes`
                    &pattern_status=`pink`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`ArticleSidenotes`
                    &pattern_template=`patternLayoutTemplate`
                    &pattern_status=`pink`
                    &idx=`4`
                    &unique_idx=`3400`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutTemplate`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_4_3400`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[getElementDescription? &name=`ArticleSidenotes` &type=`patternLayoutTemplate`]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3395`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3396`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedChunks,includedSnippets,includedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleSidenotes`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.assigned_tvs]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`3397`
]]

[[$includedPatternsOuter? 
	&unique_idx=`3398`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`assignedTVs`
	&pattern_template=`patternLayoutTemplate`
	&pattern_name=`ArticleSidenotes`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]`
    &total=`3`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`3390`
]]
    </div>
</div>