<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Single Column (nested)` &prefix=`cf_1_865``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Single Column (nested)` &prefix=`cl_1_865``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_1_865`?
            &preview=`<div class="center aligned middle aligned row">
    <div class="column">[[$richTextSegment?
    &content=`<p>I can't be bordered anymore...<br></p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Single Column (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Single Column (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`1`
            &unique_idx=`865`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Single Column (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Single Column (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`1`
                    &unique_idx=`865`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_865`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`860`
]]

[[$includedPatternsOuter? 
	&unique_idx=`861`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Single Column (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`862`
]]

[[$referringPatternsOuter? 
	&unique_idx=`863`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Single Column (nested)`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`853`
    &layout_idx=`0`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Content + Sidebar (nested)` &prefix=`cf_2_881``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Content + Sidebar (nested)` &prefix=`cl_2_881``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_2_881`?
            &preview=`<div class=" row">
    <div class="column"></div>
    <div class="six wide column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Content + Sidebar (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Content + Sidebar (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`2`
            &unique_idx=`881`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Content + Sidebar (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Content + Sidebar (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`2`
                    &unique_idx=`881`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_2_881`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`876`
]]

[[$includedPatternsOuter? 
	&unique_idx=`877`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Content + Sidebar (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`878`
]]

[[$referringPatternsOuter? 
	&unique_idx=`879`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Content + Sidebar (nested)`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`869`
    &layout_idx=`1`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Sidebar + Content (nested)` &prefix=`cf_3_897``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Sidebar + Content (nested)` &prefix=`cl_3_897``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_3_897`?
            &preview=`<div class=" row">
    <div class="six wide column"></div>
    <div class="column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Sidebar + Content (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Sidebar + Content (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`3`
            &unique_idx=`897`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Sidebar + Content (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Sidebar + Content (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`3`
                    &unique_idx=`897`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_3_897`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`892`
]]

[[$includedPatternsOuter? 
	&unique_idx=`893`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Sidebar + Content (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`894`
]]

[[$referringPatternsOuter? 
	&unique_idx=`895`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Sidebar + Content (nested)`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`885`
    &layout_idx=`2`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`4 Columns (nested)` &prefix=`cf_4_913``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`4 Columns (nested)` &prefix=`cl_4_913``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_4_913`?
            &preview=`<div class=" row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"4 Columns (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`4 Columns (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`4`
            &unique_idx=`913`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`4 Columns (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`4 Columns (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`4`
                    &unique_idx=`913`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_4_913`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`908`
]]

[[$includedPatternsOuter? 
	&unique_idx=`909`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`4 Columns (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`910`
]]

[[$referringPatternsOuter? 
	&unique_idx=`911`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`4 Columns (nested)`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`901`
    &layout_idx=`3`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`3 Columns (nested)` &prefix=`cf_5_929``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`3 Columns (nested)` &prefix=`cl_5_929``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_5_929`?
            &preview=`<div class=" row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"3 Columns (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`3 Columns (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`5`
            &unique_idx=`929`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`3 Columns (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`3 Columns (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`5`
                    &unique_idx=`929`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_5_929`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`924`
]]

[[$includedPatternsOuter? 
	&unique_idx=`925`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`3 Columns (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`926`
]]

[[$referringPatternsOuter? 
	&unique_idx=`927`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`3 Columns (nested)`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`917`
    &layout_idx=`4`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`2 Columns (nested)` &prefix=`cf_6_945``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`2 Columns (nested)` &prefix=`cl_6_945``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_6_945`?
            &preview=`<div class=" row">
    <div class="column"></div>
    <div class="column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"2 Columns (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`2 Columns (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`6`
            &unique_idx=`945`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`2 Columns (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`2 Columns (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`6`
                    &unique_idx=`945`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_6_945`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`
    <div class="ui stackable doubling  [[+divider]] equal width grid">
        <div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`940`
]]

[[$includedPatternsOuter? 
	&unique_idx=`941`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`2 Columns (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`942`
]]

[[$referringPatternsOuter? 
	&unique_idx=`943`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`2 Columns (nested)`
	]]
</div>
</div>
    </div>`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`933`
    &layout_idx=`5`
]]
    </div>
</div>