<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Single Column (nested)` &prefix=`cf_1_862``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Single Column (nested)` &prefix=`cl_1_862``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_1_862`?
            &preview=`<div class="center aligned middle aligned row">
    <div class="column">[[$richTextSegment?
    &content=`<p>I can't be bordered anymore...<br></p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Single Column (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Single Column (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &idx=`1`
            &unique_idx=`862`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Single Column (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Single Column (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`1`
                    &unique_idx=`862`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_862`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`857`
]]

[[$includedPatternsOuter? 
	&unique_idx=`858`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Single Column (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`859`
]]

[[$referringPatternsOuter? 
	&unique_idx=`860`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Single Column (nested)`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`857`
]]

[[$includedPatternsOuter? 
	&unique_idx=`858`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Single Column (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`859`
]]

[[$referringPatternsOuter? 
	&unique_idx=`860`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Single Column (nested)`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`850`
    &layout_idx=`0`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Content + Sidebar (nested)` &prefix=`cf_2_878``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Content + Sidebar (nested)` &prefix=`cl_2_878``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_2_878`?
            &preview=`<div class=" row">
    <div class="column"></div>
    <div class="six wide column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Content + Sidebar (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Content + Sidebar (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &idx=`2`
            &unique_idx=`878`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Content + Sidebar (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Content + Sidebar (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`2`
                    &unique_idx=`878`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_2_878`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`873`
]]

[[$includedPatternsOuter? 
	&unique_idx=`874`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Content + Sidebar (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`875`
]]

[[$referringPatternsOuter? 
	&unique_idx=`876`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Content + Sidebar (nested)`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`873`
]]

[[$includedPatternsOuter? 
	&unique_idx=`874`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Content + Sidebar (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`875`
]]

[[$referringPatternsOuter? 
	&unique_idx=`876`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Content + Sidebar (nested)`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`866`
    &layout_idx=`1`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Sidebar + Content (nested)` &prefix=`cf_3_894``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Sidebar + Content (nested)` &prefix=`cl_3_894``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_3_894`?
            &preview=`<div class=" row">
    <div class="six wide column"></div>
    <div class="column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Sidebar + Content (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Sidebar + Content (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &idx=`3`
            &unique_idx=`894`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Sidebar + Content (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Sidebar + Content (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`3`
                    &unique_idx=`894`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_3_894`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`889`
]]

[[$includedPatternsOuter? 
	&unique_idx=`890`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Sidebar + Content (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`891`
]]

[[$referringPatternsOuter? 
	&unique_idx=`892`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Sidebar + Content (nested)`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`889`
]]

[[$includedPatternsOuter? 
	&unique_idx=`890`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Sidebar + Content (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`891`
]]

[[$referringPatternsOuter? 
	&unique_idx=`892`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Sidebar + Content (nested)`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`882`
    &layout_idx=`2`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`4 Columns (nested)` &prefix=`cf_4_910``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`4 Columns (nested)` &prefix=`cl_4_910``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_4_910`?
            &preview=`<div class=" row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"4 Columns (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`4 Columns (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &idx=`4`
            &unique_idx=`910`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`4 Columns (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`4 Columns (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`4`
                    &unique_idx=`910`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_4_910`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`905`
]]

[[$includedPatternsOuter? 
	&unique_idx=`906`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`4 Columns (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`907`
]]

[[$referringPatternsOuter? 
	&unique_idx=`908`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`4 Columns (nested)`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`905`
]]

[[$includedPatternsOuter? 
	&unique_idx=`906`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`4 Columns (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`907`
]]

[[$referringPatternsOuter? 
	&unique_idx=`908`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`4 Columns (nested)`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`898`
    &layout_idx=`3`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`3 Columns (nested)` &prefix=`cf_5_926``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`3 Columns (nested)` &prefix=`cl_5_926``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_5_926`?
            &preview=`<div class=" row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"3 Columns (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`3 Columns (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &idx=`5`
            &unique_idx=`926`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`3 Columns (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`3 Columns (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`5`
                    &unique_idx=`926`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_5_926`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`921`
]]

[[$includedPatternsOuter? 
	&unique_idx=`922`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`3 Columns (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`923`
]]

[[$referringPatternsOuter? 
	&unique_idx=`924`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`3 Columns (nested)`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`921`
]]

[[$includedPatternsOuter? 
	&unique_idx=`922`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`3 Columns (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`923`
]]

[[$referringPatternsOuter? 
	&unique_idx=`924`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`3 Columns (nested)`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`914`
    &layout_idx=`4`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`2 Columns (nested)` &prefix=`cf_6_942``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`2 Columns (nested)` &prefix=`cl_6_942``
        ]]]]

        [[$cbLayoutPatternPreview:toPlaceholder=`preview_6_942`?
            &preview=`<div class=" row">
    <div class="column"></div>
    <div class="column"></div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"2 Columns (nested)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`2 Columns (nested)`
            &pattern_template=`patternLayoutBosonLayout`
            &idx=`6`
            &unique_idx=`942`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`2 Columns (nested)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`2 Columns (nested)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`6`
                    &unique_idx=`942`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_6_942`
        ]]]]

        [[$tabsOuter?
    &rows=`[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`1`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`2`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`3`
]]

[[-$flexibleRowInnerWrapper:toPlaceholder=`content_wrapped`? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`937`
]]

[[$includedPatternsOuter? 
	&unique_idx=`938`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`2 Columns (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`939`
]]

[[$referringPatternsOuter? 
	&unique_idx=`940`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`2 Columns (nested)`
	]]
</div>
</div>`]]
[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &heading_level=`h4`
    &heading_subtitle=`[[+heading_subtitle]]`
    &heading_icon=`[[+heading_icon]]`
    &content=`[[$flexibleRowInnerWrapper? &content=`<div class=" row">
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`937`
]]

[[$includedPatternsOuter? 
	&unique_idx=`938`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`2 Columns (nested)`
	]]
</div>
    <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`939`
]]

[[$referringPatternsOuter? 
	&unique_idx=`940`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`2 Columns (nested)`
	]]
</div>
</div>`]]`
    &padding=`padded`
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &icon_position=`left`
    &menu_position=`top`
    &menu_cols=`four`
    &justify_tabs=`0`
    &unique_idx=`930`
    &layout_idx=`5`
]]
    </div>
</div>