<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Call To Action` &prefix=`cf_1_661``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Call To Action` &prefix=`cl_1_661``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_1_661`?
            &preview=`[[If?
    &subject=``
    &operator=`notempty`
    &then=`
    <a class="item" href="[[~]]">
        <div class="content">
            
        </div>
    </a>
    `
    &else=``
]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Call To Action"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Call To Action`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`1`
            &unique_idx=`661`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Call To Action`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Call To Action`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`1`
                    &unique_idx=`661`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_661`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`656`
]]

[[$includedPatternsOuter? 
	&unique_idx=`657`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Call To Action`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`658`
]]

[[$referringPatternsOuter? 
	&unique_idx=`659`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Call To Action`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`649`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Fieldset` &prefix=`cf_2_680``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Fieldset` &prefix=`cl_2_680``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_2_680`?
            &preview=`<fieldset id="contact-us" class="ui [[+padding]] [[+segment_type:ne=`none`:then=`segment`:else=`fieldset`]]">
    <legend class="ui large header">Contact us</legend>
    [[$fbInputTextarea? 
	&unique_idx=`663`
	&layout_id=`14`
	&layout_column=`main`
	&layout_idx=`0`
	&field_name=`What's on your mind?`
	&field_layout=`vertical`
	&field_rows=`4`
	&field_placeholder=``
	&field_helptext=``
	&field_required=`0`
	]]


[[$fbInputTextfield? 
	&unique_idx=`664`
	&layout_id=`14`
	&layout_column=`main`
	&layout_idx=`0`
	&field_name=`Your name`
	&field_layout=`vertical`
	&field_type=`text`
	&field_placeholder=``
	&field_helptext=``
	&field_required=`1`
	]]


[[$fbInputEmail? 
	&unique_idx=`665`
	&layout_id=`14`
	&layout_column=`main`
	&layout_idx=`0`
	&field_name=`Email address`
	&field_layout=`vertical`
	&field_placeholder=``
	&field_helptext=``
	]]

</fieldset>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Fieldset"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Fieldset`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`2`
            &unique_idx=`680`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Fieldset`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Fieldset`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`2`
                    &unique_idx=`680`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_2_680`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`675`
]]

[[$includedPatternsOuter? 
	&unique_idx=`676`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Fieldset`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`677`
]]

[[$referringPatternsOuter? 
	&unique_idx=`678`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Fieldset`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`668`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Overview (2 Columns)` &prefix=`cf_3_696``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Overview (2 Columns)` &prefix=`cl_3_696``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_3_696`?
            &preview=`[[![[If? &subject=`0` &operator=`EQ` &operand=`1` &then=`getPage@SemanticUI` &else=`getCache`]]?
    &element=`getResources`
    &cacheKey=`overviews`
    [[++custom_cache:eq=`0`:then=`&cacheExpires=`1``]]

    &parents=`143`
    &depth=`0`
    &limit=`99`
    &tpl=`[[If? &subject=`[[$overviewRowFluidTheme]]` &operator=`isnull` &then=`overviewRowFluid` &else=`overviewRowFluidTheme`]]`
    &includeTVs=`1`
    &processTVs=`1`
    &tvPrefix=``
    &showHidden=`0`
    &sortby=`menuindex`
    &sortdir=`ASC`

    &row_tpl=`[[If? &subject=`[[$overviewRowFluidBasicTheme]]` &operator=`isnull` &then=`overviewRowFluidBasic` &else=`overviewRowFluidBasicTheme`]]`
    &background_even=`white`
    &background_odd=`secondary`
    &cols=`eight`
    &cols_interchange=`1`

    &title_field=`menutitle`
    &link_text=`Read more`
    &img_snap=`0`
    &img_inflate=`0`
]]

[[[[+pagination:eq=`1`:then=`$paginationFluid`]]]]`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Overview (2 Columns)"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Overview (2 Columns)`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`3`
            &unique_idx=`696`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Overview (2 Columns)`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Overview (2 Columns)`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`3`
                    &unique_idx=`696`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_3_696`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`691`
]]

[[$includedPatternsOuter? 
	&unique_idx=`692`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Overview (2 Columns)`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`693`
]]

[[$referringPatternsOuter? 
	&unique_idx=`694`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Overview (2 Columns)`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`684`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Pattern` &prefix=`cf_4_714``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Pattern` &prefix=`cl_4_714``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_4_714`?
            &preview=`<div class="ui vertical stripe pattern segment secondary">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutAtom`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`overviewOuter` &prefix=`cf_1_700``
        ]]]]
        [[[[If?
            &subject=`patternLayoutAtom`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`overviewOuter` &prefix=`cl_1_700``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_1_700`?
            &preview=`[[!cbRenderCodeField?
    &valueRendered=`Preview goes here`
    &valueRaw=`Preview goes here`
    &renderTag=`ignore`
]]`
            &code=`[[$codeSnippet?
    &value=`Code example goes here`
    &lang=`html`
    &label=``
]]`
            &sidebar_width=`five`
            &pattern_name=`overviewOuter`
            &pattern_template=`patternLayoutAtom`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`1`
            &unique_idx=`700`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutAtom`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`overviewOuter`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`overviewOuter`
                    &pattern_template=`patternLayoutAtom`
                    &pattern_status=`green`
                    &idx=`1`
                    &unique_idx=`700`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutAtom`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_700`
        ]]]]

        
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Pattern"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`sixteen`
            &pattern_name=`Pattern`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`4`
            &unique_idx=`714`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Pattern`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Pattern`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`4`
                    &unique_idx=`714`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_4_714`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`709`
]]

[[$includedPatternsOuter? 
	&unique_idx=`710`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Pattern`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`711`
]]

[[$referringPatternsOuter? 
	&unique_idx=`712`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Pattern`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`702`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Backyard` &prefix=`cf_5_733``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Backyard` &prefix=`cl_5_733``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_5_733`?
            &preview=`[[$richTextSegment?
    &content=`<p>This is the playground area<br></p>`
    &segment_type=``
	&padding=`regular`
    &alignment=`center aligned`
]]

<div class="ui vertical backyard segment secondary">
    <div class="ui container">
        <div class="ui accordion">
            <div class="title">
                <button class="ui small primary circular icon button" tabindex="1">
                    <i class="plus icon"></i>
                </button>
            </div>
            <div class="content">
                <div class="ui stackable relaxed equal width grid">
                    <section class="column">
                        <h2></h2>
                        [[!cbRenderCodeField?
    &valueRendered=`Description and instructables can be found here`
    &valueRaw=`Description and instructables can be found here`
    &renderTag=`ignore`
]]
                    </section>
                    <aside class="five wide column">
                        <div class="ui nested middle aligned equal width toolbar grid">
                            <div class="nine wide column">
                                <a href="[[++site_url]]manager/?a=resource/update&id=143" class="ui tiny basic button">
                                    Edit in MODX
                                </a>
                            </div>
                            <div class="right aligned column">
                                <i class="disabled heart outline link icon with popup"
                                   data-content="[[%romanesco.patterns.comment_tooltip]]"
                                   data-position="top center"></i>
                                <i class="disabled comment outline link icon with popup"
                                   data-content="[[%romanesco.patterns.comment_tooltip]]"
                                   data-position="top center"></i>
                            </div>
                        </div>

                        <div class="ui divider"></div>

                        <h5 class="ui disabled header">ContentBlocks used</h5>

                        <div class="ui list">
                            [[!cbRenderCodeField?
    &valueRendered=`List of included bosons`
    &valueRaw=`List of included bosons`
    &renderTag=`ignore`
]]
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Backyard"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`sixteen`
            &pattern_name=`Backyard`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`5`
            &unique_idx=`733`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Backyard`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Backyard`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`5`
                    &unique_idx=`733`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_5_733`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`728`
]]

[[$includedPatternsOuter? 
	&unique_idx=`729`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Backyard`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`730`
]]

[[$referringPatternsOuter? 
	&unique_idx=`731`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Backyard`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`721`
]]
    </div>
</div>