<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Single Column` &prefix=`cf_1_722``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Single Column` &prefix=`cl_1_722``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_1_722`?
            &preview=`<div class="ui vertical stripe segment secondary">
    <div class="ui   container">
        
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Single Column"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Single Column`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`1`
            &unique_idx=`722`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Single Column`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Single Column`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`1`
                    &unique_idx=`722`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_1_722`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`717`
]]

[[$includedPatternsOuter? 
	&unique_idx=`718`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Single Column`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`719`
]]

[[$referringPatternsOuter? 
	&unique_idx=`720`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Single Column`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`710`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Content + Sidebar` &prefix=`cf_2_738``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Content + Sidebar` &prefix=`cl_2_738``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_2_738`?
            &preview=`<div class="ui vertical stripe segment white">
    <div class="ui  container">
        <div class="ui stackable doubling relaxed  celled equal width grid">
            <div class="row">
                <div class="column"></div>
                <div class="six wide column"></div>
            </div>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Content + Sidebar"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Content + Sidebar`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`2`
            &unique_idx=`738`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Content + Sidebar`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Content + Sidebar`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`2`
                    &unique_idx=`738`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_2_738`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`733`
]]

[[$includedPatternsOuter? 
	&unique_idx=`734`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Content + Sidebar`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`735`
]]

[[$referringPatternsOuter? 
	&unique_idx=`736`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Content + Sidebar`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`726`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`Sidebar + Content` &prefix=`cf_3_754``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`Sidebar + Content` &prefix=`cl_3_754``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_3_754`?
            &preview=`<div class="ui vertical stripe segment white">
    <div class="ui  container">
        <div class="ui stackable doubling relaxed  celled equal width grid">
            <div class="row">
                <div class="six wide column"></div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"Sidebar + Content"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`Sidebar + Content`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`3`
            &unique_idx=`754`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`Sidebar + Content`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`Sidebar + Content`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`3`
                    &unique_idx=`754`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_3_754`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`749`
]]

[[$includedPatternsOuter? 
	&unique_idx=`750`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Sidebar + Content`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`751`
]]

[[$referringPatternsOuter? 
	&unique_idx=`752`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`Sidebar + Content`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`742`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`4 Columns` &prefix=`cf_4_770``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`4 Columns` &prefix=`cl_4_770``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_4_770`?
            &preview=`<div class="ui vertical stripe segment white">
    <div class="ui  container">
        <div class="ui four column stackable doubling relaxed  celled grid">
            <div class="row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"4 Columns"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`4 Columns`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`4`
            &unique_idx=`770`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`4 Columns`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`4 Columns`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`4`
                    &unique_idx=`770`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_4_770`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`765`
]]

[[$includedPatternsOuter? 
	&unique_idx=`766`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`4 Columns`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`767`
]]

[[$referringPatternsOuter? 
	&unique_idx=`768`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`4 Columns`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`758`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`3 Columns` &prefix=`cf_5_786``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`3 Columns` &prefix=`cl_5_786``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_5_786`?
            &preview=`<div class="ui vertical stripe segment white">
    <div class="ui  container">
        <div class="ui three column stackable doubling relaxed  celled grid">
            <div class="row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"3 Columns"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`3 Columns`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`5`
            &unique_idx=`786`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`3 Columns`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`3 Columns`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`5`
                    &unique_idx=`786`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_5_786`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`781`
]]

[[$includedPatternsOuter? 
	&unique_idx=`782`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`3 Columns`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`783`
]]

[[$referringPatternsOuter? 
	&unique_idx=`784`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`3 Columns`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`774`
]]
    </div>
</div>

<div class="ui vertical stripe pattern segment white">
    <div class="ui   container">
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonField`
            &then=`setPatternPlaceholders? &cbField=`2 Columns` &prefix=`cf_6_802``
        ]]]]
        [[[[If?
            &subject=`patternLayoutBosonLayout`
            &operator=`EQ`
            &operand=`patternLayoutBosonLayout`
            &then=`setPatternPlaceholders? &cbLayout=`2 Columns` &prefix=`cl_6_802``
        ]]]]

        [[!$cbLayoutPatternPreview:toPlaceholder=`preview_6_802`?
            &preview=`<div class="ui vertical stripe segment white">
    <div class="ui  container">
        <div class="ui two column stackable doubling relaxed  celled grid">
            <div class="row">
                <div class="column"></div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</div>`
            &code=`[[$codeSnippet?
    &value=`[[Rowboat?
    &table=`modx_contentblocks_layout`
    &tpl=`displayRawTemplate`
    &where=`{"name":"2 Columns"}`
]]`
    &lang=`html`
    &label=`[[%romanesco.patterns.template_label]]`
]]`
            &sidebar_width=`six`
            &pattern_name=`2 Columns`
            &pattern_template=`patternLayoutBosonLayout`
            &raw_tags=`[[+raw_tags]]`
            &rendered_tags=`[[+rendered_tags]]`
            &idx=`6`
            &unique_idx=`802`
        ]]
        
        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`contains`
            &operand=`Electron`
            &then=`
                $toolbarPatternElectron?
                    &pattern_name=`2 Columns`
                    &pattern_status=`green`
                `
            &else=`
                $toolbarPattern?
                    &pattern_name=`2 Columns`
                    &pattern_template=`patternLayoutBosonLayout`
                    &pattern_status=`green`
                    &idx=`6`
                    &unique_idx=`802`
                `
        ]]]]

        [[[[modifiedIf?
            &subject=`patternLayoutBosonLayout`
            &operator=`containsnot`
            &operand=`Electron`
            &then=`+preview_6_802`
        ]]]]

        [[$tabsOuter?
    &rows=`[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.purpose_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=`<p>[[+[[+cl]].description]]</p>`
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`1`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.usage_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[$richTextSegment?
    &content=``
    &segment_type=``
	&padding=`regular`
    &alignment=``
]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`2`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.settings_title]]`
    &content=`<div class="ui nested one column stackable doubling relaxed  grid">
    <div class="column">[[jsonToHTML? &json=`[[+[[+cl]].settings_json]]`]]</div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`3`
]]

[[$tabsRowBasic?
    &heading=`[[%romanesco.patterns.references_title]]`
    &content=`<div class="ui nested two column stackable doubling relaxed  divided grid">
    <div class="row">
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.included_patterns]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`797`
]]

[[$includedPatternsOuter? 
	&unique_idx=`798`
	&layout_id=`12`
	&layout_column=`col_1`
	&layout_idx=`0`
	&pattern_list=`includedPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`2 Columns`
	]]
</div>
        <div class="column">[[$headingBasic?
    &value=`[[%romanesco.patterns.referring_pages]]`
    &level=`h5`
    &alignment=``
    &unique_idx=`799`
]]

[[$referringPatternsOuter? 
	&unique_idx=`800`
	&layout_id=`12`
	&layout_column=`col_2`
	&layout_idx=`0`
	&pattern_list=`referringPatterns`
	&pattern_template=`patternLayoutBosonLayout`
	&pattern_name=`2 Columns`
	]]
</div>
    </div>
</div>`
    &padding=`padded`
    &tab_type=`regular`
    &idx=`4`
]]`
    &total=`4`
    &padding=`padded`
    &accordion_type=``
    &tab_type=`regular`
    &unique_idx=`790`
]]
    </div>
</div>