/* Adjust repeater layout of Global Background fields */
ul.contentblocks-repeater-item-wrapper > li:first-child {
    min-height: 250px;
}
ul.contentblocks-repeater-item-wrapper > li:first-child.preview {
    position: relative;
    z-index: 1;
    background: white;
}
ul.contentblocks-repeater-item-wrapper > li:last-child {
    margin-top: -238px;
}
.contentblocks-collapser {
    z-index: 99;
}