/* Make single items 100% wide in otherwise columned repeaters */
.contentblocks-field-repeater .contentblocks-repeater-row:first-child:last-child {
    width: 100%;
    border: none;
}

/* Hide chunk properties */
.contentblocks-field-chunk-properties {
    display: none;
}

/* Improve styling of CB repeaters */
.contentblocks-exposed-fields-wrapper {
    padding: 15px 5px 0;
}

.contentblocks-repeater-mini .contentblocks-repeater-row {
    padding: 0px 30px 20px;
    margin: 0;
}
.contentblocks-repeater-mini .contentblocks-repeater-row:first-child {
    margin-top: 30px;
}
.contentblocks-repeater-mini .contentblocks-float-label label,
.contentblocks-repeater-mini .contentblocks-field-link label {
    left: 0;
    top: -15px !important;
    font-size: 75% !important;
    opacity: 1 !important;
}
.contentblocks-repeater-mini .contentblocks-float-label input,
.contentblocks-repeater-mini .contentblocks-float-label select,
.contentblocks-repeater-mini .contentblocks-field-link input,
.contentblocks-repeater-mini .contentblocks-field-link select {
    padding-top: 8px;
}
.contentblocks-repeater-mini .contentblocks-float-label input,
.contentblocks-repeater-mini .contentblocks-field-link input {
    padding-top: 9px;
    padding-bottom: 9px;
}

/* Divide modals with a lot of settings into 2 columns. */
/* This requires a 'large' class to be appended to the modal with javascript. */
#contentblocks-modal .contentblocks-modal-content.large {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
#contentblocks-modal .contentblocks-modal-content.large p + .contentblocks-modal-field {
    margin-top: 0;
}

/* PREVIEWS */

/* Wrap preview area */
.chunkOutput {
    background: #fbfbfb;
    border: 1px solid rgba(0,0,0,.075);
    border-radius: 2px;
    box-shadow: none;

    padding: 28px 18px;
    position: relative;
    overflow: hidden;
}
.chunkOutput:before {
    content: 'Preview';
    position: absolute;
    width: auto;
    top: 0;
    right: 0;

    border-bottom-left-radius: 2px;
    padding: 1px 3px 3px 6px;
    background: rgba(0,0,0,.075);
    font-size: 12px;
    text-align: right;
    color: #666;
}

/* Fix content alignment */
.chunkOutput div {
    max-width: inherit !important;
}

/* Form tweaks */
.chunkOutput .ui.checkbox > input,
.chunkOutput .ui.checkbox > label {
    display: inline !important;
}

/* Hide borked elements */
.chunkOutput .ui.pagination.menu,
.chunkOutput .ui.text.loader {
    display: none;
}

/* Make icons work */
.chunkOutput i.icon {
    /*font-family: 'FontAwesome' !important;*/
}
