div[id*="modx-grid-multitvdbgrid"] .x-btn-group-tl div,
.modx-tv-type-migxdb .x-btn-group-tl div,
.modx-tv-form-element .x-btn-group-tl div {
    border-radius: 0 !important;
}

.x-grid3-cell-inner .icon-right {
    float: right;
    margin-top: 4px;
}