.redactor-dropdown-format .redactor-dropdown-item-lead,
.redactor-box .lead {
    color: #666666;
    font-size: 120%;
    line-height: 1.6;
}
.redactor-dropdown-format .redactor-dropdown-item-small,
.redactor-box small {
    font-size: 80%;
}
